body{
    background-color:#f4f4f4;
    color:#555555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height:1.6em;
    padding:0;
    margin:0;
}

/* Global */

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button{
    height:38px;
    background-color:#555555;
    color:#fff;
    padding:0px 20px;
    border:0;
    text-align: center;
    border-radius: 25px;
    margin-left: 20px;

}

.button:active {
    background-color: orange;
}

.button:hover{
    background:orange;
    color:#fff;
}

a{
    text-decoration: none;
    color:#555555;
}

a:hover{
    color:orange;
}

a:active {
    color:orange;
}

.current a {
    color: orange;
}

/* Header */

header {
    background: white;
    color:#555555;
    padding: 20px;
    min-height: 50px;
}

#master-title {
    text-align: center;
}

header img{
    float:left;
    padding-top: 10px;
    height:50px;
}


/*central section */

.sidebar {
    float: left;
    width: 20%;
    padding: 10px;
}

.sidebar ul{
    padding-left:20px;
    list-style:none;
}

#sidebar-title {
    color: #555555;
}

.content {
    float:right;
    width: 75%;
    padding: 10px;
}

.content img {
    width:70%;
    padding: 20px 20px;
}

.content a {
    text-decoration: underline;
}


nav {
    text-align: center;
    padding: 0px;
}

.navigation {

}
/* footer */

footer {
    font-size: small;
    text-align: center;
}
